<h1>All Workouts</h1>
<a href="/users/#{@user.id}"><button>My Account</button></a><br>
<br>
<a href="/workouts/new"><button>New Workout</button></a><br>





<body style="background-color:green;">

<% @workouts.each.with_index(1) do |workout, index| %><br>
    <h2> Workout <%=index%>:</h2>
    
        <ul>
        <li>Workout Name: <%=workout.name%><br></li>
        <li>Workout Duration: <%=workout.duration%><br></li>
        <li>Workout Notes: <%=workout.notes%><br></li>
        <%if workout.user_id == current_user.id%>
        </ul>
        
       
        <br>
        <a href='/workouts/<%= workout.id%>'> <button>View Workout</button> </a><br>
      
        

         <form action="/workouts/<%= workout.id %>" method="post">
              <input id="hidden" type="hidden" name="_method" value="delete">
              </form>
            
        <%end%>
    <% end %><br>
    </body>