<h1>Welcome, <%=current_user.name%>! </h1>
<h2>Manage Your Workout</h2>
<style>
table, td {
  border: 1px solid black;
}
</style>


<table>
  
  <tr>
    <td>Workout Type</td>
    <td><%= @workout.name %></td>
  </tr>
  <tr>
    <td>Workout Duration</td>
    <td><%= @workout.duration %></td>
  </tr>
  <tr>
    <td>Workout Notes</td>
    <td><%= @workout.notes %></td>
  </tr>
</table>


<%if @workout.user_id == current_user.id%>
<br>
<a href="/workouts/<%=@workout.id%>/edit"><button>Edit Workout</button></a><br>
<br>

<form action="/workouts/<%= @workout.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Workout">
<%end%>



